body {
    background-color: #343a40; /* Cor padrão do bg-dark do Bootstrap */
}

.categoria-title, .subcategoria-title {
    color: #ccc;
    text-align: center;
}

.card-title, .card-text {
    color: #ccc;
}

.card-footer .text-muted {
    color: #ccc !important;
}

.categoria-title {
    text-decoration: underline;
}

.navbar-brand {
    color: red !important;
    /* Cor vermelha */
    font-size: 28px;
    /* Tamanho da fonte aumentado */
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited {
    color: red !important;
}

.nav-link.active {
    color: yellow !important;
    /* Cor para o item selecionado */
    background-color: rgba(255, 255, 255, 0.2) !important;
    /* Fundo semi-transparente */
    border-radius: 5px;
    /* Bordas arredondadas para o quadrado */
}

.navbar-nav .nav-link {
    padding: 10px 15px;
}

/* Estiliza os itens do dropdown */
.dropdown-menu {
    background-color: #343a40; /* Mesma cor de fundo da navbar - ajuste conforme necessário */
    text-align: center; /* Centraliza o texto */
}

/* Cor inicial dos itens do dropdown */
.dropdown-item {
    color: #ccc; /* Define a cor inicial do texto dos itens do dropdown */
}

/* Estiliza os itens do dropdown ao passar o mouse */
.dropdown-item:hover, .dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo para item ativo/selecionado */
    color: yellow; /* Cor do texto ao passar o mouse ou ao item estar focado */
}

/* Estiliza o item do dropdown que está ativo */
.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo para item ativo/selecionado */
    color: yellow; /* Cor do texto para o item ativo */
}

#cinelliFlixCarousel .carousel-item img {
    max-height: 893px; /* Ajuste a altura máxima conforme necessário */
    object-fit: cover; /* Mantém a proporção da imagem enquanto cobre o espaço disponível */
}

.carousel-title {
    color: #ccc;
}

footer p {
    margin-top: 20px;
    color: #ccc; /* Define a cor do texto para #ccc */
}

footer p, .github-link {
    color: #ccc; /* Define a cor do texto e do link para #ccc */
}

.github-link:hover {
    color: #fff; /* Cor do link ao passar o mouse, opcional */
}

/* Estilo customizado para desktop (acima de 1023px) */
@media (min-width: 1023px) {
    .dropdown-menu {
        right: 0; /* Alinha o lado direito do menu dropdown com o lado direito do botão de dropdown */
        left: auto; /* Anula qualquer estilo padrão aplicado ao lado esquerdo */
        transform: translateX(-25px); /* Move o dropdown 10 pixels para a esquerda - ajuste conforme necessário */
    }
}

/* Estilo customizado para mobile (até 640px) e tablet (até 1023px) */
@media (max-width: 1023px) {
    #btn-checar-emails-mobile {
        /* Ajustes para posicionar corretamente o ícone ao lado do menu hambúrguer */
        left: calc(100% - 105px); /* Ajuste baseado na largura do seu ícone e do botão hambúrguer */
    }
}

/* Estilo customizado para tablets (de 641px até 1023px) */
@media (min-width: 641px) and (max-width: 1023px) {

    .navbar-brand.ms-5,
    .me-5 {
        margin-left: 0 !important;
        /* Ajuste a margem conforme necessário para tablets */
        margin-right: 0 !important;
        /* Ajuste a margem conforme necessário para tablets */
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        /* Centraliza os itens do menu na navbar quando estiverem expandidos */
        display: flex; /* Utiliza flexbox ao invés de float */
        flex-direction: column; /* Alinha os itens verticalmente */
        width: 100%; /* Ajusta a largura */
        align-items: center; /* Alinha itens flexíveis ao centro no eixo cruzado */
    }

    .navbar-nav .nav-link {
        padding: 8px 12px; /* Preenchimento menor para dispositivos móveis */
    }

    #btn-checar-emails-mobile {
        top: 20px; /* Mantém alinhado verticalmente */
    }
}

/* Estilo customizado para mobile (até 640px) */
@media (max-width: 640px) {

    .navbar-brand.ms-5,
    .me-5 {
        margin-left: 0 !important; /* Remove a margem esquerda para dispositivos móveis */
        margin-right: 0 !important; /* Remove a margem direita para dispositivos móveis */
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        /* Centraliza os itens do menu na navbar quando estiverem expandidos */
        display: flex; /* Utiliza flexbox ao invés de float */
        flex-direction: column; /* Alinha os itens verticalmente */
        width: 100%; /* Ajusta a largura */
        align-items: center; /* Alinha itens flexíveis ao centro no eixo cruzado */
    }

    .navbar-nav .nav-link {
        padding: 8px 12px; /* Preenchimento menor para dispositivos móveis */
    }

    #btn-checar-emails-mobile {
        top: 20px; /* Mantém alinhado verticalmente */
    }

    .carousel-title {
        font-size: 1rem; /* Tamanho menor para dispositivos móveis */
    }
}

